# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
.pytest_cache/
*.db

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Private credentials
.env
